.electric-border-root {
  position: relative;
  isolation: isolate;
}

.electric-border-defs {
  position: fixed;
  left: -10000px;
  top: -10000px;
  width: 10px;
  height: 10px;
  opacity: 0.001;
  pointer-events: none;
}

.electric-border-layers {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.electric-border-layer {
  position: absolute;
  inset: 0;
}

.electric-border-content {
  position: relative;
  z-index: 1;
}


