.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience-photo-card {
    width: 24vw;
    border-radius: 3rem;
}

.experience-photo-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: inherit;
}

.experience {
    /* Daha kiçik ölçü */
    padding: 4rem 12%;
    margin-bottom: 1rem;
    max-width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card {
    border: 2px solid black;
    border-radius: 3rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: all 0.3s linear;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.grid-card:hover {
    transform: scale(1.02);
    background-color: black;
    color: white;
}

.grid-card i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span {
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(to right, #009dff, #ff00ff);
    background-clip: text;
    color: transparent;
}

@media(max-width:1280px) {
    .experience-info {
        flex-direction: column;
    }
}

@media(max-width:768px) {
    .experience-photo-card {
        width: 70vw;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width:730px) {
    .experience {
        padding: 3rem 5%;
    }
    
    .experience-info {
        gap: 3rem;
        width: 100%;
        max-width: 100%;
    }
    
    .grid-card {
        padding: 2rem;
        max-width: 100%;
    }
    
    .grid {
        width: 100%;
        max-width: 100%;
    }
}

@media(max-width:600px) {
    .experience .section-title {
        font-size: 2.5rem;
    }
    
    .experience {
        padding: 2rem 3%;
    }
}

@media (max-width: 400px) {
  .experience-photo-card {
    width: 90vw;
  }

  .experience .section-title {
    font-size: 2rem;
    text-align: center;
  }

  .grid {
    grid-template-columns: 1fr;
  }
  
  .experience {
    padding: 1.5rem 2%;
  }
  
  .grid-card {
    padding: 1.5rem;
  }
}
