.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-card {
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.projects {
    min-height: 50vh;
    /* Daha balanslı ölçü */
    padding: 4rem 12%;
    margin-bottom: 1rem;
}

.project-card:hover {
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}

.project-card img {
    width: 20vw;
    border-radius: 1rem;
}

.project-card:hover .btn {
    border: 2px solid white;
    color: white;
}

.project-card:hover .btn:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
}

.project-card h3 {
    font-size: 2rem;
    font-weight: 500;
}

.btn {
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

@media(max-width:600px) {
    .projects .section-title {
        font-size: 2.5rem;
    }
}

@media (max-width: 400px) {
    .projects .section-title {
        font-size: 2rem;
        text-align: center;
    }
}

@media(max-width:380px) {
    .project-card {
        width: 250px;
    }
}